	<p>
		<%= f.error_messages %>
	</p>
	<p>
    <%= f.label :name, "channel name" %> <%= f.text_field :name %>
	</p>
	<p>
	<%= f.label :slug, "slug (optional)" %> <%= f.text_field :slug, :size => 16 %>
	</p>