<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "cufon-yui" %>
	<%= javascript_include_tag "delicious.font" %>
	
	<script type="text/javascript">
	Cufon.replace('h1');
	Cufon.replace('h2');
	Cufon.replace('h3');
	Cufon.replace('label');
	</script>
	
	<%= stylesheet_link_tag("site") %>

	<title><%= yield :title %></title>
	<% if params[:slug] %>
		<%= orbited_javascript %>
		<%= stomp_connect(params[:slug], :js => :jquery) %>
	<% end %>
	
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			initialize_page();
		});
	</script>
</head>

<body>

<div id="wrapper">

	<div id="header">
		<h1><%= link_to "tail chat", root_path %></h1>
		<p>quick and easy</p>
	</div>

	<div id="main">
	
		<% if not flash[:notice].nil? %>
		<div id="alert"><p class="notice"><%= flash[:notice] %></p></div> 
		<% end %>
		<% if not flash[:error].nil? %>
		<div id="alert"><p class="warning"><%= flash[:error] %></p></div>
		<% end %>
	
		<%= yield %>
	</div>

	<div id="footer">
		<p>&#169; Ray Hernandez 2009</p>
	</div>

<div>

<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>
